<!--tedx/templates/tedx/index.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Yaseen Game</title>
    <style>
        body {
            font-size : 24px;
            background-color : #F0FFFF;
        }
        #start{
            text-align: center;
        }
        #question{
            display : none;
            text-align:center;
        }
        .choice {
            text-align:center;
            text-font: 30px;
        }
    </style>
</head>
<body>
    <div id="start">
        <h1 id="welcome">Welcome to Yaseen game</h1>
        <button id="start-btn" style="font-size:30px"> Start </button>
    </div>

    <div id="question">
        <p> the first question the first question the first the first question</p>
        <button class="choice" data-choice-pk="1" type="button">First choice</button>
        <button class="choice" data-choice-pk="2" type="button">Second choice</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
            $(document).ready(function() {
            var startBtn = $("#start-btn")
            var question = $("#question")
            var preGame = $("#start")
            var choiceBtn = $(".choice")
            choiceBtn.hide(100);
            startBtn.on('click', function() {
                preGame.hide(100);
                question.show(100);
                choiceBtn.show(100);
            })

            choiceBtn.on('click', function(){
                $.ajax({
                    type: 'POST',
                    url: "/handle_ajax/" ,
                    success: function(){
                        question.empty();
                        question.append("<p>ياسين محتار وش يسوي</p> ");
                        question.append("<button data-choice-pk='1' type='button'>First choice</button>");
                        question.append("<button data-choice-pk='2' type='button'>Second choice</button>");
                        $(":button").addClass('choice');
                        choiceBtn.show(100);
                    }
                })
            })

        })
    </script>
</body>
</html>
